body{
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400; 
}
.root{
    height: 100%;
    width: 100%;
    position: relative;
}
header{
    height: 100px;
    min-height: 80px;
    width: 100%;
    position: fixed;
    background-color: transparent;
    border-bottom: 1px solid rgb(192, 191, 191);
    z-index: 200;
    top: -100px;
    transition: all 0.5s;
    animation-name: header;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    overflow: hidden;
}
@keyframes header{
    100%{
       transform: translatey(100px);
    }
   }
header.active{
    height: 90px;
    min-height: 80px;
    width: 100%;
    position: fixed;
    border-bottom: none;
    box-shadow: 0px 0px 5px rgb(226, 226, 226);
    background-color: white;
    z-index: 200;
    transition: all 0.5s;
}
header img{
    position: absolute;
    left: 140px;
    top: 25px;
}
header ul{
    list-style-type: none;
    position: absolute;
    display: inline-flex;
    right: 320px;
    top: 20px;
}
header li{
   padding-right: 50px;
   font-weight: 500;
   cursor: pointer;
}
.button-header{
    color: white;
    position: absolute;
    padding: 12px 20px;
    font-size: 17px;
    border-radius: 25px;
    margin-left: 20px;
    background-image: linear-gradient(to right, #4052f4 0%, #57b6f1 51%, #84d1fa 100%);
    border: none;
    right: 150px;
    top: 27px;
    cursor: pointer;
}
.fa-right-to-bracket{
    margin-right: 5px;
}
.main-banner{
    height: 930px;
    width: 100%;
    position: relative;
    z-index: 1;
    background-image: url(image/slider-left-dec.png);
    background-repeat: no-repeat;
    background-size:contain;
    overflow: hidden;
}
.main-text{
    height: 300px;
    width: 550px;
    position: absolute;
    top: 280px;
    left: -850px;
    animation-name: main-text;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    overflow: hidden;
}
@keyframes main-text{
    100%{
       transform: translateX(1000px);
    }
   }
.main-text h2{
    font-weight: 700;
    line-height: 70px;
    font-size: 50px;
    margin-bottom: 20px;
}
.main-text p{
    line-height: 30px;
    margin-top: 20px;
    font-size: 95%;
}
.button-main-apple{
    color: white;
    position: absolute;
    padding: 10px 18px;
    font-size: 17px;
    border-radius: 25px;
    background-color: #3a84f5;
    border: none;
    top: 320px;
    font-weight: 700;
    cursor: pointer;
}
.button-main-play{
    color: white;
    position: absolute;
    padding: 10px 18px;
    font-size: 17px;
    border-radius: 25px;
    margin-left: 20px;
    background-color: #3a84f5;
    border: none;
    top: 320px;
    left: 150px;
    font-weight: 700;
    cursor: pointer;
}
.main-banner img{
    position: absolute;
    right: -840px;
    top: 250px;
    animation-name: main-image;
    animation-delay: 0.5s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    overflow: hidden;
}
@keyframes main-image{
    100%{
       transform: translateX(-1000px);
    }
   }
.services{
    position: relative;
    width: 100%;
    height: 800px;
}
.services-background-top{
    height: 260px;
    width: 83%;
    position: absolute;
    right: 1px;
    background-image: url(image/services-right-dec.png);
    background-repeat: no-repeat;
    background-position: right;
    z-index: 50;
}
.services-text{
    position: absolute;
    width: 600px;
    height: 200px;
    text-align: center;
    left: 450px;
    top: 130px;
}
.services-text a{
    color: blue;
    text-decoration: none;
}
.services-text em{
    color: #4b8ef1;
    font-style: normal;
}
.services-text h4{
    font-size: 30px;
    margin-bottom: 7px;
}
.services-text p{
    font-size: 19px;
    line-height: 30px;
    font-weight: 300;
    color: #afafaf;
}
.service-box-box{
    height: 400px;
    width: 92%;
    margin-left: 6%;
    position: absolute;
    top: 400px;
}
.service-box{
    height: 320px;
    width: 22%;
    background-color: white;
    display: inline-block;
    margin-left: 20px;
    border-radius: 10px;
    border-top-right-radius: 50px;
    box-shadow: 0px 0px 15px rgb(228, 228, 228);
}
.service-box-content{
    height: 350px;
    width: 19%;
    position: absolute;
    margin-left: 30px;
    margin-top: 30px;
}
.service-box:nth-child(1){
    height: 300px;
    margin-bottom: 20px;
}
.service-icon-1{
    background-image: url(image/service-icon-01.png);
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
}
.service-icon-2{
    background-image: url(image/service-icon-02.png);
    background-repeat: no-repeat;
    background-size:contain;
    width: 52px;
    height: 50px;
    margin-bottom: 30px;
}
.service-icon-3{
    background-image: url(image/service-icon-03.png);
    background-repeat: no-repeat;
    background-size:contain;
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
}
.service-icon-4{
    background-image: url(image/service-icon-04.png);
    background-repeat: no-repeat;
    background-size:contain;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
}
.service-box-content h4{
    font-size: 120%;
}
.service-box-content p{
    color: rgb(207, 206, 206);
    margin-bottom: 20px;
    line-height: 28px;
}
.service-box-content a{
    color: #73a7f5;
    margin-top: 10px;
}
.service-box:hover{
    color: white;
    background-image: url(image/service-bg.jpg);
}
.services-background-bottom{
    height: 380px;
    width: 300px;
    position: absolute;
    background-image: url(image/services-left-dec.png);
    background-repeat: no-repeat;
    background-size:contain;
    align-items: center;
    top: 700px;
}
.about{
    width: 100%;
    height: 750px;
    margin-top: 50px;
    position: relative;
    background-image: url(image/about-bg.jpg);
    background-repeat: no-repeat;
    background-position: right center;
}
.about-content{
    width: 40%;
    height: 600px;
    display: inline-block;
    position: absolute;
    margin-left: 130px;
    top: 50px;
    padding-top: 20px;
}
.about-content em{
    color: #4b8ef1;
    font-style: normal;
}
.about-pictures{
    width: 41%;
    height: 700px;
    display: inline-block;
    position: absolute;
    right: 120px;
    top: 20px;
}
.about-content h4{
    font-size: 180%;
    margin-bottom: 10px;
}
.about-content p{
    color: rgb(191, 189, 189);
    line-height: 30px;
}
.about-bubble{
    height: 80px;
    width: 280px;
    display: inline-block;
    position: relative;
    margin: 30px 20px 0px 0px;
    border-radius: 40px;
    line-height: 0px;
    box-shadow: 0px 0px 15px rgb(228, 228, 228);
}
.about-bubble:hover{
    color: #3a84f5;
}
.about-bubble a{
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    top: 20px;
    left: 30px;
    cursor: pointer;
}
.about-bubble:hover{
    color: #3a84f5;
}
.about-bubble p{
    font-size: 15px;
    color: rgb(184, 182, 182);
    position: absolute;
    top: 20px;
    left: 30px;
}
.button-about{
    color: white;
    position: absolute;
    padding: 12px 16px;
    font-size: 17px;
    border-radius: 25px;
    background-image: linear-gradient(to right, #4052f4 0%, #57b6f1 51%, #84d1fa 100%);
    border: none;
    margin-left: 10px;
    cursor: pointer;
}
.about-content span{
    position: absolute;
    bottom: 1px;
    color: rgb(131, 131, 131);
}
.clients{
    width: 100%;
    height: 900px;
    position: relative;
    /* background-color:beige; */
    margin-top: 100px;
}
.client-header{
    width: 100%;
    height: 200px;
    position: absolute;
    text-align: center;
    line-height: 5px;
}
.client-header h4{
    font-size: 30px;
}
.client-header em{
    color: #4b8ef1;
    font-style: normal;
}
.client-header p{
    font-size: 17px;
    line-height: 30px;
    font-weight: 300;
    color: #afafaf;
    margin: 20px 500px 0px 500px;
}
.client-list-container{
    width: 45%;
    height: 500px;
    position: relative;
    left: 200px;
    top: 300px;
}
.client-row{
    width: 100%;
    height: 100px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items:baseline;
}
.client-name{
    width: 40%;
    height: 100px;
    line-height: 5px;
    cursor: pointer;
}
.client-name h4{
    font-size: 22px;
    font-weight: 500;
}
.client-name p{
    font-size: 15px;
    color: #afafaf;
}
.client-category{
    width:35%;
    height: 100px;
    font-size: 16px;
    font-weight: 700;
    color: #afafaf;
    cursor: pointer;
}
.client-rating{
    width:20%;
    height: 100px;
    font-size: 16px;
    font-weight: 700;
    color: #afafaf;
    display: inline;
    cursor: pointer;
}
.rating-number{
    width:30%;
    height: 100px;
    font-size: 16px;
    font-weight: 700;
    color: #afafaf;
    padding-left: 10px;
    cursor: pointer;
}
.client-description{
    width: 32%;
    height: 350px;
    position: absolute;
    background-image: url(image/client-bg.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    overflow: hidden;
    border-radius: 60px;
    right: 150px;
    top: 250px;
}
.client-description img{
    height: 68px;
    width: 80px;
    position: absolute;
    top: 50px;
    left: 30px;
}
.client-description p{
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    position: absolute;
    font-style: italic;
    bottom: 80px;
    margin: 0px 20px 0px 30px;
    line-height: 30px;
}
.client-picture{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    background-image: url(image/client-image.jpg);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    position: absolute;
    right: 460px;
    bottom: 90px;
}
.client-picture-description{
    height: 100px;
    width: 300px;
    position: absolute;
    right: 130px;
    bottom:150px;
}
.client-picture-description h4{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}
.prices{
    width: 100%;
    height: 1100px;
    position: relative;
}
.prices-header{
    width: 100%;
    height: 200px;
    position: absolute;
    text-align: center;
    line-height: 5px;
    top: 50px;
}
.prices-header h4{
    font-size: 32px;
}
.prices-header p{
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    color: #afafaf;
    margin: 10px 500px 0px 500px;
}
.price-box{
    width: 26%;
    height: 700px;
    position: relative;
    display: inline-block;
    box-shadow: 0px 0px 15px rgb(228, 228, 228);
    border-radius: 60px;
    top: 300px;
    left: 140px;
    margin-right: 20px;
    overflow: hidden;
}
.price-box:nth-child(3){
    height: 750px;
    top: 325px;
}
.top-background-regular{
    height: 400px;
    width: 300px;
    border-top-left-radius: 60px;
    position: absolute;
    background-image: url(image/regular-table-top.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position:top;
}
.top-background-pro{
    height: 400px;
    width: 300px;
    border-top-left-radius: 60px;
    position: absolute;
    background-image: url(image/pro-table-top.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position:top;
}
.bottom-background-regular{
    height: 200px;
    width: 360px;
    position: absolute;
    bottom: 0%;
    right: 0%;
    border-bottom-right-radius: 60px;
    background-image: url(image/regular-table-bottom.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: bottom;
}
.bottom-background-pro{
    height: 230px;
    width: 400px;
    position: absolute;
    bottom: 0%;
    right: 0%;
    border-bottom-right-radius: 60px;
    background-image: url(image/pro-table-bottom.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: bottom;
}
.price-box p{
    font-size: 43px;
    font-weight: 700;
    position: absolute;
    left: 35px;
    color: white;
}
.price-box-content{
    width: 90%;
    height: 600px;
    position: absolute;
    top: 70px;
}
.price-box-content:nth-child(2){
    background-color: #3a84f5;
}
.price-box-content h4{
    font-size: 23px;
    font-weight: 700;
    text-align: center;
    width: 115%;
}
.price-box:nth-child(3) h4{
    position: relative;
    top: 25px;
}
.price-box-content img{
    height: 120px;
    width: 135px;
    position: relative;
    left: 130px;
}
.price-box:nth-child(3) img{
    top: 25px;
}
.price-box-content li{
    list-style: none;
    line-height: 40px;
    text-align: center;
    color: darkgray;
}
.price-box:nth-child(3) li{
    position: relative;
    top: 25px;
}
.price-box button{
    color: #3a84f5;
    position: absolute;
    padding: 14px 18px;
    font-size: 17px;
    border-radius: 25px;
    background-color: white;
    border: 1px solid #3a84f5;
    font-weight: 700;
    left: 80px;
    margin-top: 20px;
}
.price-button:hover{
    background-color: #3a84f5;
}
.price-box:nth-child(3) button{
    bottom: 20px;
}
.footer{
    height: 1100px;
    width: 100%;  
    background-image: url(image/footer-bg.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;  
}
.footer-main{
    height: 150px;
    width: 35%;
    margin: auto;
    position: relative;
    top: 300px;
    text-align: center;
    color: white;
}
.footer-email{
    height: 80px;
    width: 600px;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    top: 300px;
}
.email{
    border: none;
    border-bottom: 1px solid white;
    padding-bottom: 3px;
    background-color: #54a2f6;
    height: 40px;
    width: 200px;
    margin-left: 50px;
    font-size: 15px;
}
::placeholder{
    color: white;
    font-size: 20px;
    font-weight: 100;
}
.footer-email-box{
    height: 80px;
    width: 300px;
}
.footer-button{
    height: 80px;
    width: 300px;
}
.footer-button-1{
    color: white;
    position: absolute;
    padding: 14px 30px;
    font-size: 17px;
    border-radius: 25px;
    background-color: transparent;
    border: 1px solid white;
    font-weight: 700;
}
.footer-button-1:hover{
    background-color: white;
    color: #3a84f5;
    transition: 1s;
}
.list-conteiner{
    position: relative;
    top: 200px;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 300px;
    margin: 150px 0 0 140px;
    flex-wrap: wrap;
}
.footer-list-1{
    width: 22.5%;
    height: 300px;
    color: white;
}
.footer-list-2{
    width:  12.25%;
    height: 300px;
    color: white;
}
.footer-list-2-5{
    width:  12.25%;
    height: 300px;
    padding-top: 45px;
    color: white;
}
.footer-list-3{
    width:  12.25%;
    height: 300px;
    color: white;
}
.footer-list-3-5{
    width:  12.25%;
    height: 300px;
    padding-top: 45px;
    color: white;
}
.footer-list-4{
    width:  22.5%;;
    height: 300px;
    color: white;
    line-height: 40px;
}
.footer-list-5{
    width: 94.5%;
    height: 150px;
    text-align: center;
    color: white;
}