body{
    margin: auto;
    padding: 0%;
}
.conteiner{
    height: 100vh;
    width: 100vw;
    background-color: aqua;
    display: grid;
    grid-template-columns: 2fr 10fr 10fr 3fr;
    grid-template-rows: 2fr 10fr 10fr 4fr;
    grid-template-areas: 
    "header header header header"
    "sidebar content content add"
    "sidebar content content add"
    "sidebar footer  footer footer";
}
.item-header{
    background-color: beige;
    grid-area: header;
}
.item-sidebar{
    background-color: crimson;
    grid-area: sidebar;
}
.item-content{
    background-color: lightgreen;
    grid-area: content;
}
.item-add{
    background-color:  lightpink;
    grid-area: add;
}
.item-footer{
    background-color: chocolate;
    grid-area: footer;
}