.header{
    height: 100px;
    width: 100%;
    background-color: gray;
    position:fixed;
    background-image: url("https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cHJvZmlsZXxlbnwwfHwwfHw%3D&w=1000&q=80");
    background-size: 100% 100%;
}

.prazan-div{
    width: 500px;
    height: 1000px;
    background-color: aqua;
}
